/*CONTAINERS*/
body{
 font-family: sans-serif;
 line-height: 30px;
}

.full-width{
 max-width: 1362px;
 margin:auto;
 padding:5px;
}

.partial-width{
   max-width: 1000px;
    margin:auto;
    padding:5px;
}


/*SUB CONTAINERS*/

.row{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.col-1{
 max-width: 100px;
}
.col-2{
    max-width: 200px;
}
.col-3{
    max-width: 300px;
}
.col-4{
    max-width: 400px;
}

.col-5{
    max-width: 500px;
    
}

.col-6{
    max-width: 600px;
  
}

.col-7{
    max-width: 700px;
}
.col-8{
    max-width: 800px;
}
.col-9{
    max-width: 900px;
}
.col-10{
    max-width: 1000px;
}

.col-11{
    max-width: 1100px;
}

.col-12{
    max-width:1200px;
}

/*TEXT COLOR*/
.text-white{
    color:white;
}
.text-salmon{
    color: #E2B162;
}
.lightgray{
    color:#818181;
}

/*BACKGROUND COLOR*/
.back-white{
    background:white;
}

.back-lightgray{
    background:#F3F3F3;
}

/*HYPERLINKS*/
a{
    text-decoration: none;
    color: black;
    font-weight:bold;
    margin-left:15px;
    }

/*BUTTONS*/
.btn-normal{
    padding: 5px 10px;
    font-weight: bold;
    color:white;
    border:none;
    border-radius:5px;
    box-shadow:1px 2px 2px gray;
}

.btn-large{
    font-weight: bold;
    color:white;
    border:none;
    padding:20px 70px;
    border-radius:5px;
    box-shadow:1px 2px 2px gray;
}

.btn-lightblue{
    background:#6ABFC3;
}
.btn-lightbrown{
    background:#D3A766;
}
.btn-green{
    background:lightgreen;
}

/*ALIGNMENT*/

.center{
text-align:center;
}

.left{
    text-align:left;
}

.right{
    text-align:right;
}

.justify{
    text-align:justify;
}
/*FONT SIZES*/
.small{
    font-size:20px;
}

.medium{
    font-size:35px;
}

.large{
    font-size:50px;
}
/*FONT WEIGHTS*/
.normal{
    font-weight:normal;
}
.bold{
    font-weight:bold;
}

.bolder{
    font-weight:bolder;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
}

.flex-center{
    display:flex;
    justify-content: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}