.navigation{
    margin-top:30px;
    display:flex;
    justify-content: space-between;
}

.nav-box{
    display:flex;
    justify-content: space-between;
}

.img-main{
    display:block;
    width:100vw;
    margin:auto;
}
.main_content{
    margin-top:50px;
    float: none !important;
    text-align: center;
}
.main_content h2{
   color:#CE9A7A; 
   font-weight:normal;
   font-size:40px;
   padding: 50px 0;

}


.main_content p{
  padding:10px 35%;
  text-align: center;
  margin-bottom:50px;
  color:#818181;
   
}
.developer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.developer_item{
    flex-basis: 30%;
    background:white;
    margin:10px;
}

.developer_item img{
    width:200px;
}
.parent-developer{
    background:#F3F3F3;
    width:100%;
}

.parent-developer h3{
    padding: 50px 0;
}



.story-image img{
    width:50px;
    margin-right:20px;
}


.story-item{
    display:flex;
    justify-content: space-between;
    margin:50px;
   
}

.success{
  
    background:linear-gradient(to top,#EEEEEE, #FDFDFD );
    


}


.success h2{
    margin:100px 0;
}
footer{
   height:50px;
    margin:100px auto;
}
.footer-links{
    display:flex;
    justify-content: center;
    margin-top:10px;
}

.footer-links a{
    text-decoration: none;
    color:#818181;
    font-weight:bold;
}

.link{
    margin-right:20px;
}


#full-curriculum{
    margin-bottom:50px;
}
#curriculum{
    margin:100px 0;
}

#signup:hover{
    cursor: pointer;
}

.read a{
    color:#818181;
}

.read h4{
    color:#818181;
    font-size:50px;
    font-weight:normal;
    margin:100px 0;
}

.main_content h3{
 padding:50px 0;
}

.learn img{
    width:200px;
    height:200px;
}

.learn h5{
    font-weight:bold;
    font-size:20px;
}

.learn p{
    padding:10px 150px;
}
