.navigation{
    margin-top:30px;

}

.img-main{
    max-width:1300px;
    width:100%;
}
.main_content{
    margin-top:50px;
}
.main_content h2{
    padding: 50px 0;
}


.main_content p{
  padding:10px 0;
  margin-bottom:50px;
   
}


.developer_item{
    flex-basis: 30%;
    background:white;
    margin:10px;
}

.developer_item img{
    width:200px;
}
.parent-developer{
    background:#F3F3F3;
    width:100%;
}

.parent-developer h3{
    padding: 50px 0;
}



.story-image img{
    width:50px;
    margin-right:20px;
}


.story-item{
    margin:50px 10px;  
}

.success{
  
    background:linear-gradient(to top,#EEEEEE, #FDFDFD );
    padding:20px 0;

}


.success h2{
    margin:100px 0;
}
footer{
   height:50px;
    margin:100px 0;
}
.footer-links{
    margin-top:10px;
}


.link{
    margin-right:20px;
}


#full-curriculum{
    margin-bottom:50px;
}
#curriculum{
    margin:100px 0;
}

#signup:hover{
    cursor: pointer;
}

.read a{
    text-decoration: underline;
}

.read h4{
    margin:100px 0;
}

.main_content h3{
 padding:50px 0;
}

.learn img{
    width:200px;
    height:200px;
}



.learn p{
    padding:10px 0;
}
.icons{
    margin:20px 150px;

}

.icons img {
    max-width: 200px;
}